@charset "utf-8";

th{
    width: 100px;
    padding: 10px;
    background-color: #5a5652; ;
    border: solid 2px black;
}
td{
    width: 100px;
    padding: 10px;
    border: solid 2px #666666;
    text-align: center;
  
}
.kb{ background-color: blue;
    width: 100px;
    padding: 10px;
    border: solid 2px #666666;
    text-align: center;

}